<% flash.each do |key, value| %>
 <div id='flash' class="flash flash_<%= key %>">
   <%= value %>
 </div>
<% end %>
<article id="blog_post">
  <header>
    <% if  @post.video_url.present? %>
      <iframe width="100%" height="425" src="<%=  @post.video_url.gsub("youtu.be/","www.youtube.com/embed/") %>?autoplay=1" allowfullscreen>
      </iframe>
    <% else %>
      <%= image_fu(@post.image, "750x", :class=>"img-responsive") %>
    <% end %>
  </header>
  <%= @post.body.html_safe %>
<div class="share">
  <span class='st_twitter'></span>
  <span class='st_facebook'></span>
  <span class='st_pinterest'></span>
  <span class='st_linkedin'></span>
  <span class='st_' displayText=''></span>
</div>
<hr>
</article>


<% content_for :right do %>
  <% if @post.locations.present? %>
  <div class="blog_rhs">
      <h2>Location</h2>
      <ul class=" list-inline list-unstyled">
        <% @post.locations.each do |location| %>
        <a href="<%= refinery.locations_location_path(location) %>">
          <li class="search-item">
          <%= image_fu(location.cover_image, "105x80#c", :alt => location.cover_image.alt_tag) %>
          <div class="search-item-body">
            <h3><%= strip_tags(location.name)%></h3>
            <div class="description"><%= strip_tags(location.description) %></div>
          </div>
          </li></a>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>











<%= render :partial => '/refinery/draft_page_message' unless @post.nil? or @post.live? -%>

 




