<% if @location.present? and @location.gallery.present? and @location.gallery.items.present? %>
  <div class="master-slider ms-skin-default" id="masterslider">
    <% @location.gallery.items.reorder('position ASC').each do |item| %>
      <% if item.image.present? %>
        <div class="ms-slide slide-1" data-delay="4">
          <div class="banner-strip hidden-xs">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 hidden-sm col-md-4">
                  <% if item.country_image.present %>
                    <%= image_fu(item.country_image, "519x168#c", :alt => item.country_image.alt_tag, class: "img-responsive") %>
                  <% elsif item.parent.country_image.present? %>
                    <%= image_fu(item.parent.country_image, "519x168#c", :alt => item.parent.country_image.alt_tag, class: "img-responsive") %>
                  <% end %>
                </div>
                <div class="col-xs-12 hidden-sm col-md-8">
                  <p><%=raw item.side_body if item.side_body.present? %></p>
                  <a href="#contact_area" class="arrow">Enquire Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay"></div>
          <%= image_fu(item.image, "1920x935#c", :alt => item.image.alt_tag) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif @accommodation.present? and @accommodation.gallery.present? and @accommodation.gallery.items.present? %>
  <div class="master-slider ms-skin-default" id="masterslider">
    <% @accommodation.gallery.items.reorder('position ASC').each do |item| %>
      <% if item.image.present? %>
        <div class="ms-slide slide-1" data-delay="4">
          <div class="banner-strip hidden-xs">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 hidden-sm col-md-4">
                  <img src="/assets/main-logo.png" class="img-responsive">
                </div>
                <div class="col-xs-12 hidden-sm col-md-8">
                  <p><%=raw item.side_body if item.side_body.present? %></p>
                  <a href="#contact_area" class="arrow">Enquire Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay"></div>
          <%= image_fu(item.image, "1920x935#c", :alt => item.image.alt_tag) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif @activity.present? and @activity.gallery.present? and @activity.gallery.items.present? %>
  <div class="master-slider ms-skin-default" id="masterslider">
    <% @activity.gallery.items.reorder('position ASC').each do |item| %>
      <% if item.image.present? %>
        <div class="ms-slide slide-1" data-delay="4">
          <div class="banner-strip hidden-xs">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 hidden-sm col-md-4">
                  <img src="/assets/main-logo.png" class="img-responsive">
                </div>
                <div class="col-xs-12 hidden-sm col-md-8">
                  <p><%=raw item.side_body if item.side_body.present? %></p>
                  <a href="#contact_area" class="arrow">Enquire Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay"></div>
          <%= image_fu(item.image, "1920x935#c", :alt => item.image.alt_tag) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif @page.present? and @page.banners.published.present? %>
  <div class="master-slider ms-skin-default" id="masterslider">
    <% @page.banners.published.reorder('position ASC').each do |banner| %>
      <% if banner.image.present? %>
        <div class="ms-slide" data-delay="4">
          <div class="banner-strip hidden-xs">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 hidden-sm col-md-4">
                  <img src="/assets/main-logo.png" class="img-responsive">
                </div>
                <div class="col-xs-12 hidden-sm col-md-8">
                  <%= raw banner.description %>
                  <a href="#contact_area" class="arrow">Enquire Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay"></div>
          <%= image_fu(banner.image, "1920x935#c", :alt => banner.image.alt_tag) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% unless home_page? %>
  <div class="breadcrumb" style="position: relative; z-index: 100;">
      <%= breadcrumbs(@page, @location, @post) %>
  </div>
<% end %>
