<div class="header-partial">
<div class="top-nav-container">
  <div class="top-nav">
    <a href="tel:+447809726266" class="btn btn-default btn-custom"><i class="fa fa-phone"></i><span class="visible-xs">CALL</span><span class="hidden-xs">+ 44 7809 726266</span></a><a class="btn btn-default btn-custom" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope"></i><span>Enquire Now</span></a>
  </div>
  <div class="navbar-hamburger">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <span>MENU</span>
  </div>
</div>
</div>

<% face = copywriting('Facebook', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% twit = copywriting('Twitter', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% ins = copywriting('Instagram', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<div class="social_links hidden-xs">
  <div><a href="<%= face %>" target="_blank"><img src="/assets/facebook.png"></a></div>
  <div><a href="<%= twit %>" target="_blank"><img src="/assets/twitter.png"></a></div>
  <div><a href="<%= ins %>" target="_blank"><img src="/assets/instagram.png"></a></div>
</div>

<nav class="nav-hide">
  <ul>
    <img src="/assets/logo-small.png" >
    <%= render :partial => "/refinery/menu" %>
	<div id="sb-search" class="sb-search">
		<form accept-charset="UTF-8" action="/locations" method="get">
			<input class="sb-search-input" placeholder="Search..." type="text" value="" name="search" id="search">
			<input class="sb-search-submit" type="submit" value="">
			<span class="sb-icon-search"></span>
		</form>
	</div>
  <% face = copywriting('Facebook', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% twit = copywriting('Twitter', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% ins = copywriting('Instagram', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<div class="social_links visible-xs">
  <ul class="list-inline">
    <li><a href="<%= face %>" target="_blank"><img src="/assets/facebook.png"></a></li>
    <li><a href="<%= twit %>" target="_blank"><img src="/assets/twitter.png"></a></li>
    <li><a href="<%= ins %>" target="_blank"><img src="/assets/instagram.png"></a></li>
  </ul>
</div>
  </ul>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="">
              <h1><%= copywriting('Contact title', {:phrase_type => 'string', :scope => 'Footer', :default => 'Let us tailor make your next journey' }) %></h1>
              <p><%= copywriting('Contact Text', {:phrase_type => 'text', :scope => 'Footer', :default => 'Whether you are a seasoned Africa traveller or going to Africa for the very first time, we would love to speak to you. Our first aim is to get to know you, what interests you have and to then match these with our tailormade collection of experiences, camps and lodges. It is always best to talk this over and get the ball rolling from there, so please do pick up the phone for an informal chat with us. We look forward to speaking with you and tailor making your next journey.' }) %></p>
            </div>
            <div class="contact-form">
              <h2>Fill in the form below and we'll get back to you asap</h2>
              <% @inquiry ||= ::Refinery::Inquiries::Inquiry.new %>
              <%= simple_form_for [refinery, :inquiries, @inquiry], :html => {:class => 'form-vertical'} do |f| %>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <%= f.input :name, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                  <%= f.input :email, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' }%>
                  <%= f.input :phone, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <%= f.input :message, :wrapper => :bootstrap_12,:input_html  => {:rows=>6, :class => 'form-control' } %>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="captcha"></div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <%= f.input :captcha, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                </div>
                <div class="col-xs-12">
                  <%= f.submit 'Submit', :class=>"btn btn-default btn-custom", :data => {:disable_with => "Saving..."} %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

