<% if @accommodation.present? %>
  <div class="master-slider ms-skin-default" id="masterslider2">
    <% @accommodation.gallery.items.each do |banner| %>
      <div class="ms-slide slide-1" data-delay="6">
        <!-- <h1><%= @accommodation.name %></h1> -->
        <div class="overlay"></div>
        <%= image_fu(banner.image, "1920x935#c") %>
        <div class="ms-layer banner-text" data-type="text" data-delay="750" data-duration="2000" data-ease="easeOutExpo" data-resize="false">
        </div>
      </div>
    <% end %>
  </div>
  <div class="accommodation">
    <div class="container">
      <div class="accommodation-container">
        <div class="row">
          <div class="col-xs-12">
            <%= raw @accommodation.description %>
          </div>
          <div class="col-xs-12">
            <%= link_to 'Start Your Journey', '#contact', :class=>"btn btn-default btn-custom" %>
          </div>
          <div class="col-xs-12">
            <% if @accommodation.amenities.present? %>
              <h2>Activities & Facilities</h2>
              <ul class="amenities">
              
                <% @accommodation.amenities.each do |amenity| %>
                  <li>
                    <%= image_fu amenity.image, "80x80#c", :title => amenity.name, :class => "img-responsive"%>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  var slider2 = new MasterSlider();

  slider2.setup('masterslider2' , {
    width:1920,
    height:935,
    space:1,
    layout:'fullwidth',
    loop:true,
    preload:0,
    autoplay:true,
    overPause:false,
    shuffle:false,
    instantStartLayers: true,
    view:"fade"
  });
  slider2.control('bullets');
  slider2.control('arrows');

  $(function() {
    $('.contact_btn').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
</script>