<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body id="container">
  


    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <%= render '/refinery/header' -%>

    <%= render '/shared/banner' %>

    <% if action_name == "index" %>

      <% if @activities.present? %>
      <div id="activities" class="search">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 div1">
                <h1 style="padding-top:20px;">Experiences</h1>
                  <ul class=" list-inline list-unstyled">
                    <% @activities.each do |activity| %>
                      <li class="search-item">
                        <%= link_to(image_fu(activity.cover_image, "105x", :alt => activity.cover_image.alt_tag),refinery.activities_activity_path(activity)) if activity.cover_image.present? %>
                        <div class="search-item-body">
                          <h3><%= link_to strip_tags(activity.name), refinery.activities_activity_path(activity) %></h3>
                          <div class="description"><%=raw truncate(activity.description, :length => 120) %></div>
                        </div>
                      </li>
                    <% end %>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>   




    <% else %>

      <div id="welcome">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 div1">
              <p>
                <%=raw @activity.description %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <% if @activity.accommodations.present? %>
        <div class="accommodations">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>Popular Lodges</h1>
                <div id="accommodations_slider">
                  <% @activity.accommodations.each do |accommodation| %>
                    <div class="slide">
                      <%= link_to refinery.accommodations_accommodation_path(accommodation)  do %>                        
                        <%= image_fu accommodation.cover_image, "300x175#c", :alt => accommodation.cover_image.alt_tag if accommodation.cover_image.present? %>
                        <%= accommodation.name %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% if @activity.locations.present? %>
      <div class="locations">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1>Popular Places</h1>
              <div id="locations_slider">
                <% @activity.locations.each do |location| %>
                    <div class="slide">
                      <%= link_to location_link(location)  do %>                        
                        <%= image_fu location.cover_image, "300x175#c", :alt => location.cover_image.alt_tag if location.cover_image.present? %>
                        <%= location.name %>
                      <% end %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

    <%= render '/refinery/footer' -%>

    <%= render '/refinery/javascripts' %>
  </body>
</html>
