<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
  <body>


    
  <%= site_bar -%>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>


  <%= render '/refinery/header' -%>

  <%= render '/shared/banner' %>

  <div class="welcome">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= @page.title %></h1>
          <div class="text">
            <%= raw @page.content_for(:body) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="#contact_area" class="btn btn-custom">Enquire Now</a>
        </div>
      </div>
    </div>
  </div>

  <% safaris = Refinery::Activities::Activity.where("activity_type = ? OR activity_type = ?", 'safari_type', 'both') %>
  <% if safaris.present? %>
    <div class="safari-type">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Safari Type</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="controls">
              <span class="safari-slider-next"></span>
            </div>
            <ul class="bxsliderSafari">
              <% safaris.each do |item| %>
                <li>
                  <div class="safari-type-item">
                    <%= link_to refinery.activities_activity_path(item) do %>
                      <%= image_fu item.image, "218x330#c" %>
                      <div class="caption">
                        <h3><%= item.name %></h3>
                        <div class="btn btn-custom">Read More</div>
                      </div>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% activities = Refinery::Activities::Activity.where("activity_type = ? OR activity_type = ?", 'experience', 'both') %>
  <% if activities.present? %>
    <div class="experience">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Experience</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="controls">
              <span class="experience-slider-next"></span>
            </div>
            <ul class="bxsliderExperience">
              <% activities.each_slice(7).each do |items| %>
                <li>
                  <% items.each do |item| %>
                    <% if item == items.first %>
                      <div class="experience-item main-item">
                        <%= link_to refinery.activities_activity_path(item) do %>
                          <%= image_fu item.image, '440x330#c' %>
                          <div class="caption">
                            <h3><%= item.name %></h3>
                          </div>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="experience-item">
                        <%= link_to refinery.activities_activity_path(item) do %>
                          <%= image_fu item.image, '217x162#c' %>
                          <div class="caption">
                            <h3><%= item.name %></h3>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="experience-footer">
              <h3 class="hidden-xs">Tailormade Africa has something for everyone.</h3>
              <h2 class="hidden-xs">Speak to an expert at +44 7809 726266 (Clyde) or +44 7791 360170 (Rob)</h2>
              <a href="/activities" class="btn btn-custom">Browse All Experiences</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="why-tma">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Why Tailormade Africa?</h1>
        </div>
      </div>
      <div class="row">
        <%= render '/refinery/pods/shared/pods', :pod_types => ['content'], :limit => 4 -%>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="#contact_area" class="btn btn-custom">Enquire Now</a>
        </div>
      </div>
    </div>
  </div>

  <% blogs = Refinery::Blog::Post.live.first(3) %>
  <% if blogs.present? %>
    <div class="recent-blogs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Recent Blogs</h1>
          </div>
        </div>
        <div class="row">
          <% blogs.each do |post| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="recent-blog-item">
                <%= link_to(image_fu(post.image, '360x272#c', :class=>"img-responsive"), refinery.blog_post_path(post)) %>
                <div class="caption cf">
                  <div class="title"><a href="#"><%= post.title %></a></div>
                  <div class="date"><%= post.published_at.strftime('%B %e, %Y') %></div>
                  <div class="comment"><a><i class="fa fa-comment-o"></i><%= post.comments.count %></a></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="contact" id="contact_area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
          <form accept-charset="UTF-8" action="/contact" method="post">
            <h1>Get In Touch</h1>
            <p>Whether you are a seasoned Africa traveller or thinking about visiting<br/>the continent for the first time, we would love to speak to you.</p>
            <input type="text" name="inquiry[name]" class="form-control" placeholder="Name*" required>
            <input type="email" name="inquiry[email]" class="form-control" placeholder="Email*" required>
            <input type="text" name="inquiry[phone]" class="form-control" placeholder="Phone*" required>
            <input type="text" name="inquiry[destination]" class="form-control" placeholder="Destination*" required>
            <input type="text" name="inquiry[budget]" class="form-control" placeholder="Budget*" required>
            <input type="text" name="inquiry[from]" class="form-control" placeholder="From?*" required>
            <div class="option-group cf">
              <div class="row">
                <div class="col-xs-12 col-sm-8">
                  <label>Is it your first trip to Africa?</label>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <input type="radio" class="form-control option-input" name="inquiry[first_trip]" value="1"><label>Yes</label>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <input type="radio" class="form-control option-input" name="inquiry[first_trip]" value="0"><label>No</label>
                </div>
              </div>
            </div>
            <textarea class="form-control" name="inquiry[message]" rows="3" placeholder="Message"></textarea>
            <input class="btn btn-custom" type="submit" value="Send Message">
          </form>
        </div>
      </div>
    </div>
  </div>

  <% face = copywriting('Facebook', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
  <% twit = copywriting('Twitter', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
  <% ins = copywriting('Instagram', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>

  <div class="social">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="list list-inline">
            <li><a href="<%= face %>" target="_blank"><img src="/assets/facebook.gif"></a></li>
            <li><a href="<%= twit %>" target="_blank"><img src="/assets/twitter.gif"></a></li>
            <li><a href="<%= ins %>" target="_blank"><img src="/assets/instagram.gif"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= render '/refinery/footer' -%>

  <%= render '/refinery/javascripts' %>
  </body>
</html>
