<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
  <body>
  <%= site_bar -%>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

  <%= render '/refinery/header' -%>

  <%= render '/shared/banner' %>

  <div id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 div1">
          <h1><%= @page.title %></h1>
          <%= raw @page.content_for(:body) %>
        </div>
      </div>
    </div>
  </div>

  <div id="people">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="content-container">
            <div class="content div2">
              <h2><%= copywriting('Street Child First Text', {:phrase_type => 'text', :scope => 'Home Page', :default => '"We strongly believe that travelling to Africa should make a difference to the countries and peoples of that vast and beautiful continent, and benefit all involved."' }) %></h2>
              <p><%= copywriting('Street Child Second Text', {:phrase_type => 'text', :scope => 'Home Page', :default => 'With this in mind we work only with partners on the ground we have long standing relationships with and who share our values. Every trip booked with us directly supports our charity partners who we know make an amazing contribution in the many countries where they work. We have a strong relationship with UK charity Street Child and have been lucky enough to see the amazing work they do on the ground in Sierra Leone first hand. Every trip booked with us directly supports their work.' }) %></p>
              <div class="street-child">
                <a href="http://www.street-child.co.uk" target="_blank"><img src="/assets/street-child-logo.png"></a>
                <p>Street Child is a UK education and child welfare organisation that has worked with over 30,000 street children in Sierra Leone, Liberia and Nepal since 2008. Street Child empowers children by providing education opportunities and income-generating initiatives to enable families to build a sustainable future. Furthermore, they have been at the forefront of the ebola crisis: providing care for over 13,000 children orphaned by the virus by resettling them within a safe and secure family home and enrolling them in school. We have a strong relationship with Street Child and have been lucky enough to see the amazing work they do on the ground in Sierra Leone first hand. Every trip booked with us will directly support their work.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="locations">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 div3">
          <%= raw @page.content_for(:side_body) %>
        </div>
      </div>
    </div>
  </div>


  <%= render '/refinery/footer' -%>

  <%= render '/refinery/javascripts' %>
  </body>
</html>
