<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <%= render '/refinery/header' -%>

    <%= render '/shared/banner' %>

    <% if action_name == "index" %>

      <% if @locations.present? %>
        <div id="locations">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 div1">
                <h1>Places</h1>
                <ul>
                  <% @locations.each do |location| %>
                    <li>
                      <%= link_to location.name, refinery.locations_location_path(location) %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% else %>

      <div id="welcome">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 div1">
                <%=raw @location.description %>
            </div>
          </div>
        </div>
      </div>

      <% accommodations = Refinery::Accommodations::Accommodation.all %>
      <% if accommodations.present? %>
        <div class="accommodations">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>Popular Lodges</h1>
                <div id="accommodations_slider">
                  <% accommodations.each do |accommodation| %>
                    <div class="slide"><%= link_to (image_fu accommodation.cover_image, "300x175#c") + accommodation.name, refinery.accommodations_accommodation_path(accommodation) %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% activities = Refinery::Activities::Activity.all %>
      <% if activities.present? %>
        <div class="activities">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>Popular Experiences</h1>
                <div id="activities_slider">
                  <% activities.each do |activity| %>
                    <div class="slide"><%= link_to (image_fu activity.cover_image, "300x175#c") + activity.name, refinery.activities_activity_path(activity) %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %> 

    <%= render '/refinery/footer' -%>

    <%= render '/refinery/javascripts' %>
  </body>
</html>
